<div app-head></div>
<!-- <swipers data="bannerCtrl" ></swipers> -->
<div class="myslides">
            <ks-swiper-container loop="false" show-nav-buttons="false" slides-per-view="4" space-between="5" pagination-clickable="false">
                <ks-swiper-slide ng-repeat="s in [1,2,3]">
                    <img ng-src="http://img.zcool.cn/community/01075b55424cef0000019ae9cfcda9.jpg">
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
</ks-swiper-container>
<div app-position-list data="list"></div>
<div app-foot></div>